<!DOCTYPE html>
<html>
  <head>
    <title>Ana Sayfa</title>
    <style>
      body {
        background-color: #101728;
      }

      .foto {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <img class="foto" src="1.png" alt="Fotoğraf 1" />
    <img class="foto" src="2.png" alt="Fotoğraf 2" />
    <img class="foto" src="3.png" alt="Fotoğraf 2" />
    <img class="foto" src="4.png" alt="Fotoğraf 2" />
    <img class="foto" src="5.png" alt="Fotoğraf 2" />
    <img class="foto" src="6.png" ">
  </body>
</html>
